.ser-detail-box {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 15px 10px 15px;
}



.edu-lern-con, .edu-lern-con p {
font-weight: 400;
font-size: 100%;
line-height: 130%;
color: #4c5463;
}